<div class="card-uniq-content">
	<h1>Modification de votre ordre <%= @order.network.network_name%></h1>
	<p class="head-desc"> 
		Vous pouvez désormais modifier cet ordre. 
	</p>
	<%= render 'form', order: @order %>
</div>