<div class="card-uniq-content">
	<h1>Modification de votre compte <%= @account.network.network_name %></h1>
	<p class="head-desc"> 
		Vous pouvez désormais modifier votre login et mot de passe. 
	</p>
	<%= render 'form', account: @account %>
</div>