.card-uniq-content{
	width: 80%;
	margin: 64px auto;
	padding: 48px 0;
	background-color: #FEFEFE;
	display:flex;
	align-items: center;
	flex-direction: column;
	border-radius: 8px;

}

.card-main{
	width: 99%;
	margin: 8px auto;
	padding: 24px 0;
	background-color: #FEFEFE;
	display:flex;
	align-items: center;
	flex-direction: column;
	border-radius: 4px;
}