.card-uniq-content{
	width: 80%;
	margin: 64px auto;
	padding: 48px 0;
	background-color: #FEFEFE;
	display:flex;
	align-items: center;
	flex-direction: column;
	border-radius: 8px;

}

.card-main{
	width: 99%;
	margin: 8px auto;
	padding: 24px 0;
	background-color: #FEFEFE;
	display:flex;
	align-items: center;
	flex-direction: column;
	border-radius: 4px;
}

.card-log{
	position:relative;
	border: 1px rgba(150,150,150,0.2)solid;
	border-radius: 4px;
	padding: 16px 24px;
	margin: 24px 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&:hover{
		position:relative;
		top:-1px;
		left:-1px;
		box-shadow: 10px 10px 7px -5px rgba(100,100,100,0.1);
	}

}

.card-order{
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}